body {
  background-color: rgba(10, 21, 35, 0.962);
  color: azure;
  text-align: center;
}

.login-header {
  color: #ffd902fe;
  font-family: sans-serif;
}

#lbl-estado {
  color: rgb(249, 203, 160);
  font-weight: bold;
  font-style: italic;
}
